body {
	margin: 0;
}

ul, ol {
	padding-left: 40px;
	margin: 0;
	list-style: none;
}

h1 {
	color: #fff;
	font-size: 28px;
	font-weight: lighter;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 40px;
	text-align: center;
}

h3 {
	color: #222;
}

p {
	font-size: 16px;
	line-height: 24px;
}

hr {
	border: none;
	border-bottom: 1px solid #ddd;
	margin: 40px 0;
}

a {
	text-decoration: none;
	transition: color 0.2s;
}

.clear {
	clear: both;
}

.inner {
	width: 100%;
	margin: 0 auto;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inner.over {
	margin-top: -10px;
}

/* Header */
#header {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center -60px;
	background-size: cover;
	padding: 30px 30px 40px 30px;
	box-shadow: 0 -40px 80px #fff inset;
}

#header h1 {
	color: #444;
	margin-top: 40px;
	margin-bottom: 80px;
}

#header nav {
	float: right;
}

#main-menu li {
	display: inline-block;
	margin-left: 30px;
}

#main-menu a {
	color: #bbb;
	font-size: 16px;
	text-decoration: none;
}

#main-menu a:hover {
	color: #666;
}

/* Logo */
#logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 140px;
	height: 50px;
}

.button {
	background-color: #f56b7e;
	border-radius: 3px;
	color: #fff !important;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
	padding: 12px 0 12px 16px;
}

/*.button_map {
	background-color: #f56b7e;
	border-radius: 3px;
	color: #fff !important;
	font-size: 16px;
	text-decoration: none;
	display: inline-block;
}*/

.button span {
	background-color: rgba(0, 0, 0, 0.08);
	border-radius: 0 3px 3px 0;
	font-weight: bold;
	margin-left: 24px;
	padding: 12px 16px 12px 8px;
	position: relative;
	transition: padding 0.2s;
}

/*.button_map span {
	border-radius: 0 3px 3px 0;
	font-weight: bold;
	margin-left: 10px;
	padding: 12px 16px 12px 8px;
	transition: padding 0.2s;
}*/

.button:hover span {
	padding: 12px 24px 12px 16px;
}

.button span::before {
    width: 14px;
    height: 42px;
    content: '';
	background-image: url(../images/button-divider.png);
	background-repeat: no-repeat;
    position: absolute;
    left: -14px;
    top: 0;
}

#map-section {
	width: 100%;
	max-width: 100%;
	padding-left:5px;
	
}

/* Browser mockup */
.window-mockup {
	background-color: #f0f0f0; /* #f0ece0 */
	background-image: url(../images/window.png);
	background-repeat: no-repeat;
	background-position: 14px center;
	border-radius: 10px 10px 0 0;
	height: 42px;
	overflow: hidden;
}

.window-mockup.brown {
	background-color: #2f2e2b;
}

.window-bar {
	background-color: #f8f8f8; /* #f6f4ed */
	border-radius: 3px; 
	margin: 10px 14px 10px 80px;
	height: 22px;
}

/* Editor */
.editor-window {
	display: none;
	margin: 0 auto;
	width: 460px;
}

.editor-window .window-mockup {
	cursor: pointer;
}

.editor-body {
	background: #272822;
	color: #cfcfc2;
	padding: 14px;
	font-size: 12px;
}

/* Map */
.map-container {
	margin: 0 auto;
	margin-bottom:0;
}

.map-container > #mapplic {
	background-color: #fff;
}

/* Examples */
#examples {
	font-size: 0;
	padding: 0;
	margin: 0 80px;
	display: block;
	text-align: center;
}

#examples li {
	display: inline-block;
	margin-bottom: 6px;
}

#examples a {
	border-radius: 3px;
	border: 2px solid #fff;
	color: #bbb;
	font-size: 16px;
	display: block;
	padding: 10px;
	margin: 0 10px;
	transition: border-color 0.2s, color 0.2s;
}

#examples a:hover {
	color: #666;
	border: 2px solid #eee;
}

#examples .active a {
	border: 2px solid #ddd;
	color: #666;
}

/* WordPress */
#wordpress {
	color: #fff;
	display: block;
	font-size: 28px;
	text-align: center;
}

#wordpress strong {
	margin-left: 20px;
}

#wordpress img {
	vertical-align: middle;
}

/* Contact */
#contact {
	background-image: url(../images/mail.png);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto 30px auto;
}

/* Footer */
#footer {
	background-color: #2f2e2b;
	padding: 20px 0;
	text-align: center;
}

#footer span a {
	border-bottom: 1px solid transparent;
	color: #aaa;
	font-size: 13px;
	font-weight: bold;
	transition: color 0.2s, border-color 0.2s;
}

#footer span a:hover {
	border-color: #666;
	color: #eee;
}

/* Icons */
.icon {
	background-repeat: no-repeat;
	background-position: center 10px;
	padding-top: 60px;
}

.icon.landmark { background-image: url(../images/icon-landmark.png); }
.icon.layer { background-image: url(../images/icon-layer.png); }
.icon.link { background-image: url(../images/icon-link.png); }
.icon.browser { background-image: url(../images/icon-browser.png); }
.icon.responsive { background-image: url(../images/icon-responsive.png); }
.icon.mobile { background-image: url(../images/icon-mobile.png); }

.container {
	margin: 20px 0;
}

.container:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.one-third {
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	width: 29%;
}

.features {
	text-align: center;
}

section {
	padding: 0 0;
}

section .inner {
	padding-left: 20px;
	padding-right: 20px;
}

section.purple {
	background-color: #b7a6bd;
	color: #fff;
	padding: 60px 0;
}

section.blue {
	background-color: #7DD5C9;
	color: #fff;
	padding: 20px 0;
}

/*==New Customization==*/

.mapplic-element{height: 100vh !important;}
.flt-left{float:left;}
.flt-right{float:right;}
.width-33{width:33.3333%; background:transparent;}
.bordered{border:1px solid #000;}
.txt-center{text-align:center!important;}
.txt-left{text-align:left!important;}
.txt-right{text-align:right!important;}
.line-h{line-height:50px!important;}
.disp-none{display:none;}
.disp-block{display:block;}
.mobile-nav{display:none;}
.mobile-bars{display:none;}
.relative{position:relative;}

.header{padding:15px 5px; background:#f6f6f6;min-height:8vh;}
.main-menu{padding:0!important;margin:0!important;}
.main-menu li{display:inline-block;margin-right:0;padding:0!important;border-radius:3px;}
.main-menu li a{display:block;color:gray;-webkit-transition:ease 0.3s;-moz-transition:ease 0.3s;-o-transition:ease 0.3s;transition: ease 0.3s;padding:0 15px!important;margin:0!important;}
.main-menu li a:hover{color:black!important;border-bottom:2px solid #2cb673;}
.main-menu li a.active{border-bottom:3px solid #2cb673;color:#2cb673 !important;font-size:16px;font-weight:bold;text-decoration:none;display:block;padding:0 15px!important;}
.main-menu li a.active:hover{padding:inherit;}

.logo{width:140px;height:50px;}
.map-loading{text-align: center; font-size:20px;}
.map-body{padding:20px 15px;text-align:center;}

.controls{background:#f9f9f9;padding:20px 15px;text-align:center;width:50%;margin:auto;}
.controls select{padding:5px;border:1px solid #d0d0d0;}

.mapplic-fullscreen-button{display:none!important;}
.mapplic-tooltip{z-index: 99999 !important;}
/*.mapplic-tooltip{background:#000!important;}
.mapplic-tooltip-thumbnail{border:1px solid #fff!important;border-radius:0%!important;}*/

.content{min-height:78vh;}
.content-1{height:auto;background:transparent;}
.red-site{color:#f56b7e;}
.white{color:white;}
.btn-1 {border-radius: 4px;background-color: #f4511e;border: none;color: #FFFFFF;text-align: center;
	font-size: 28px;padding: 20px;width: 200px;transition: all 0.5s;cursor: pointer;margin: 5px;}
.btn-1 span {cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}
.btn-1 span:after {content: '\00bb';position: absolute;opacity: 0;top: 0;right: -20px;transition: 0.5s;}
.btn-1:hover span {padding-right: 25px;}
.btn-1:hover span:after {opacity: 1;right: 0;}

.footer{min-height:2vh;}

.rght-img img{
    padding-right: 20px;
}

/* Responsivity */
@media all and (max-width: 667px) {
	#header {
		display: none;
	}

	.inner.over {
		margin-top: 0;
		padding-top: 0;
	}

	.window-mockup {
		display: none;
	}
}
@media screen and (max-width:1025px) {
	.rght-img{display:none;}
	.width-33{width:50%;}
}
@media screen and (max-width:768px) {
	.width-33{width:50%;}
	.rght-img{display:none;}
	.main-menu{display:none;}
	.mobile-bars{display:block;color:#000;padding:6px 0;}
	.mobile-bars span{display:block;width:30px;height:5px;margin:6px 0;background:black;}
	.mobile-menu{width:96%;padding:2%;margin:0;left:0;position:absolute;background:#d0d0d0;z-index:9999;}
	.mobile-menu ul li{display:block!important;}

	.main-menu{width:96%;padding:2%;margin:0;left:0;position:absolute;background:#d0d0d0;z-index:9999;}
	.main-menu li{display:block!important;}
	.line-h{line-height:30px!important;}
}

/*nav li{
	
	padding: 0 5px;
}*/

/*nav li:hover:not(.button_map) {
    background-color: #f56b7e;
	border-radius: 3px 3px;
	color:white !important;
	
	
}*/
nav li a:hover{
	color:white !important;
}

#wrap{
	min-height: 1000px;
}

.map-overlay{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.1);z-index:9999;}
.explorebtn{position:absolute;top:30%;left:50%;z-index:9999;cursor:pointer;background:black;display:inline-block;padding:10px;color:#ffffff;border-radius:20px;transform: translateX(-50%)}
.map-close{position:absolute;top:5%;left:50%;z-index:9999;cursor:pointer;background:black;display:none;padding:10px;color:#ffffff;border-radius:20px;transform: translateX(-50%);}
