/*=================================
header section
=================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'sans-serif';
}
ul{
    list-style: none;
}

.no-padding{
    padding:0px !important;
}
.no-padding-right{
    padding-right: 0px !important;
}
.no-padding-left{
    padding-left: 0px !important;
}
.m-top-15{
    margin-top: 15px;
}
h1,
.h1 {
    font-size: 36px;
    text-align: center;
    font-size: 5em;
    color: #404041;
}
.news-time{
    font-size: 10px;
    margin: 0px;
    line-height: 22px;
}
.menu-bar{
    z-index:999;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
    border-radius: 0;
    background-color: #eee;
}
.divition-seat{
    display: none;
}

.dropdownMenu{

}


.mega-dropdown {
    position: static !important;
    /*width: 100%;*/
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
.top-bar{
    padding: 6px 0 0 0;
    background:#333;
    height: auto;
}
.top-bar-left li{
    color: #f2f2f2;
}
.top-bar  ul li{
    display: inline-block;
    padding: 0px 10px;
    line-height: 28px;
}
.top-bar ul li a{
    color: #eee;
}

.top-logo-banner img{
    width: 100%;
}
.top-add-banner{
    margin-top: 15px
}
.top-add-banner img{
    width: 100%;
    height: auto;
}

.news-add-banner{
    background: #f8f8f8;
    text-align: center;
}
.news-add-banner-text{
    display: inline-block;
    background: #adadad;
    width: 100%;
    height: auto;
    padding: 40px 0;
}
.content-top-add-banner{
    background: #e0e0e0;
    text-align: center;
}
.content-top-add-banner-text{
    display: inline-block;
    background: #f2f2f2;
    width: 100%;
    height: 90px;
    margin: auto;
    padding: 15px 0;
}
.add-wrapper img{
    width: 100%;
}
.right-add-banner{
    margin-top: 20px;
}
.right-add-banner img{
    height: auto;
    width: 100%;
}

.hashcode{
    background: #F6C0C0;
    margin-top: 20px;
    height: auto;
    padding:30px 0;

}
.hashcode-inner{
    width:300px;
    height:250px;
    background: #F6C0C0;
    margin: auto;
    padding: 125px 0;
    text-align: center;
}
.janala{
    background: #F6C0C0;
    margin-top: 20px;
    height: auto;
    padding:30px 0;

}
.janala-inner{
    width:300px;
    height:250px;
    background: #F6C0C0;
    margin: auto;
    padding: 125px 0;
    text-align: center;
}
/*social link */
.social-link {
    list-style: none;
}
.social-link li{

}
.social-link li a{
    color:#fff;
}
.form-search .search-query{
    border: 1px solid #dcdcdc;
    box-shadow: none;
}


.input-append{
    width:75% ;
    margin-right: 10px;
    float: right;
}

.form-search .input-append{
    position: relative;
}
.form-search .btn-search{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    box-shadow: none !important;

    border:0;
}
.form-search .btn-search:active, .form-search .btn-search:focus{
    box-shadow: none !important;
    border:none !important;
    outline: 0;
}


.navbar{
    margin-top: 15px;
}
.main-menu .menu-active a{
    border-top: 2px solid #c9302c;
    padding-top:14px;
}
.main-menu a:hover{
    border-top: 2px solid #c9302c;
    padding-top:14px;
}
.main-menu li {
    padding-right: 28px;
}
.main-menu li a{
    padding: 16px 0px;
}
.search-wrapper{
    padding: 10px 0px;
}
.divition-menu{
    position: relative;

}
.divition-menu .navbar-nav {
    width: 100%;
    position: absolute;
    z-index: 9999;
    background: #eee;
    margin: 0px;
}
.divition-menu .navbar-nav li{
    float: left;
}
.section-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 13px;
    position: relative;
}
.section-title h3{
    padding: 4px 0px;
}

.section-title:before{
    content: "";
    height: 2px;
    background: #c9302c;
    width: 200px;
    position: absolute;
    bottom: -1px;
}
.all-news{
    position: relative;
    padding: 0px;
    margin: 0px;
}
.all-news li{
    /*padding: 0px;*/
}
.all-news .news-item{
    padding: 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    height: 64px;
    position: relative;
    /*float: left;*/
}

.all-news .news-item li img{
    height: 60px;
    width: 60px;
}
.all-news .news-item li{
    float: left;

}
.all-news .news-item p{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.all-news .news-item .news-heading{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;

}
.all-news .news-item .news-item-left{
    padding-right: 15px;
}

.opinion-right ul{
    padding-left: 0px;
    position: relative;
}
.opinion-right ul li{
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
}
/*.opinion-right ul li a{*/
/*position: absolute;*/
/*top: 0;*/
/*}*/

/*.opinion-right ul li p{*/
/*position: absolute;*/
/*bottom: 0;*/
/*}*/

.feature-video{
    background: #3c3c3c;
    padding: 10px 0px;
}
.feature-video .section-title{
    color:#fff;
}
#photo-album{
    margin-bottom: 50px;
}
.customNextBtn i, .customPrevBtn i{
    color:#8c7f7f;
    font-size: 12px;
    padding: 4px;
    border: 1px solid #8c7f7f;
    border-radius: 2px;
}
.customNextBtn{
    padding-left: 4px  ;
}

/*candidate*/
.candidate-banner{
    position: relative;
}
.candidate-banner img{
    width: 100%;
}
.candidate-banner h1{
    color: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
    font-size: 50px;
}

/*Footer*/
.footer-bs {
    background-color: #3c3d41;
    padding: 20px 40px;
    color: rgba(255,255,255,1.00);
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

.vote-info{
    margin: 0px;
    overflow: hidden;
    padding: 30px 0px;
}
.vote-info li:first-child{
    padding-left: 0px;
}
.vote-info li{
    min-height: 1px;
    overflow: hidden;
    float: left;
    padding:0px 30px;
    border-right: 1px solid #eee;
    margin-right: 15px;
}
.vote-info li:last-child{
    border: none;
}
.vote-info li .vote-info-icon{
    padding-right: 10px;
}
.vote-seat-info p {
    display: block;
    margin: 0px;
    padding: 4px 0px;

}
.vote-area img{
    width: 100%;
    height: auto;
}
.vote-seat-info h3 {
    margin: 0;
}
.vote-info-icon img {
    width: 50px;
    height: 50px;
}
.seat-desc{
    text-align: justify;
    line-height: 25px;
}

.card-wrapper{
    padding: 15px 30px;
}
.candidate-card{
    border: 1px solid #dcdcdc;
    overflow: hidden;
    min-height: 1px;
    margin: 15px 0px;
    background: #a7adb3;
}
.lib-desc p{
    padding: 15px ;
}
.lib-desc{
    position: relative;
}
.lib-desc h5{
    font-weight: bold;
}
.bottomright {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 14px;
    background: #2b2929;
    color: #e8e8e8;
    padding: 3px;
    font-weight: bold;
}
.profile{
    text-align: center;
    background: white;
}
.profile img{
    width: 100px;
    height: 100px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #FFFFFF;
    cursor: default;
    background-color: #FF7B7B;
    border: 1px solid #FF7B7B;
    border-bottom-color: #FF7B7B;
}
.nav-tabs {
    border-bottom: 1px solid #ff7b7b;
}
.nav-tabs>li>a:hover{

}
.nav-tabs>li>a{
    border-radius: 0px;
    color: #FFFFFF;
    margin-right: 0px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #ff7b7b;
}
.nav-tabs>li{
    background: #575757;
}
.footer-bs{
    margin-top: 15px;
}
@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
@media screen and (max-width:768px){
    .xs-center{text-align: center !important;}
    .social-link > ul {float: none !important;}
    .input-append{
        width:70% ;
    }
    .candidate-card{
        padding-right: 15px;
        padding-left: 15px;
    }
    .divition-menu .navbar-nav li{
        float: none !important;

    }
    .divition-menu navbar-nav{
        left: 15px;
    }
}
@media screen and (max-width:990px){
    .xs-center{text-align: center !important;}
    .social-link > ul {float: none !important;}
    .input-append{
        width:70% ;
    }
    .candidate-card{
        padding-right: 15px;
        padding-left: 15px;
    }
    .divition-menu .navbar-nav li{
        float: none !important;

    }
    .divition-menu navbar-nav{
        left: 15px;
    }
    .profile{
        padding-bottom: 15px;
    }
}