/*=================================
header section
=================================*/

ul{
    list-style: none;
}
a:link, a:visited {
    text-decoration: none !important;
}
.no-padding{
    padding:0px !important;
}
.no-padding-right{
    padding-right: 0px !important;
}
.no-padding-left{
    padding-left: 0px !important;
}
.m-top-15{
    margin-top: 15px;
}
h1,
.h1 {
    font-size: 36px;
    text-align: center;
    font-size: 5em;
    color: #404041;
}
.news-time{
    font-size: 10px;
    margin: 0px;
    line-height: 22px;
}
.menu-bar{
    z-index:999;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
    border-radius: 0;
    background-color: #eee;
}
.divition-seat{
    display: none;
}

.dropdownMenu{

}


.mega-dropdown {
    position: static !important;
    /*width: 100%;*/
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
.top-bar{
    padding: 6px 0 0 0;
    background:#333;
    height: auto;
}
.top-bar-left li{
    color: #f2f2f2;
}
.top-bar  ul li{
    display: inline-block;
    padding: 0px 10px;
    line-height: 28px;
}
.top-bar ul li a{
    color: #eee;
}
.top-logo-banner {
    margin-top: 10px;
}
.top-logo-banner img{
    width: 100%;
}
.top-add-banner img{
    width: 100%;
    height: auto;
}

.news-add-banner{
    background: #f8f8f8;
    text-align: center;
}
.news-add-banner-text{
    display: inline-block;
    background: #adadad;
    width: 100%;
    height: auto;
    padding: 40px 0;
}
.content-top-add-banner{
    text-align: center;
}
.content-top-add-banner-text{
    display: inline-block;
    width: 100%;
    height: 90px;
    margin: auto;
    padding: 15px 0;
}
.add-wrapper img{
    width: 100%;
}
.right-add-banner{
    margin-top: 20px;
}
.right-add-banner img{
    height: auto;
    width: 100%;
}

.hashcode{
    background: #F6C0C0;
    margin-top: 20px;
    height: auto;
    padding:30px 0;

}
.hashcode-inner{
    width:300px;
    height:250px;
    background: #F6C0C0;
    margin: auto;
    padding: 125px 0;
    text-align: center;
}
.janala{
    background: #F6C0C0;
    margin-top: 20px;
    height: auto;
    padding:30px 0;

}
.janala-inner{
    width:300px;
    height:250px;
    background: #F6C0C0;
    margin: auto;
    padding: 125px 0;
    text-align: center;
}
/*social link */
.social-link {
    list-style: none;
}
.social-link li{

}
.social-link li a{
    color:#fff;
}
.form-search .search-query{
    border: 1px solid #dcdcdc;
    box-shadow: none;
}


.input-append{
    width:75% ;
    margin-right: 10px;
    float: right;
}

.form-search .input-append{
    position: relative;
}
.form-search .btn-search{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    box-shadow: none !important;

    border:0;
}
.form-search .btn-search:active, .form-search .btn-search:focus{
    box-shadow: none !important;
    border:none !important;
    outline: 0;
}


.navbar{
    margin-top: 15px;
}
.main-menu .menu-active a{
    border-top: 0px!important;
    /*padding-top:14px;*/
}
/*.main-menu a:hover{*/
    /*border-top: 2px solid #c9302c;*/
    /*padding-top:14px;*/
/*}*/
.main-menu li {
    padding-left: 14px!important;
    padding-right: 14px!important;
}
.main-menu li a{
    padding: 16px 0px;
}
.search-wrapper{
    padding: 10px 0px;
}
.divition-menu{
    position: relative;

}
.divition-menu .navbar-nav {
    width: 100%;
    position: absolute;
    z-index: 9999;
    background: #eee;
    margin: 0px;
}
.divition-menu .navbar-nav li{
    float: left;
}
.section-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 13px;
    position: relative;
}
.section-title h3{
    padding: 4px 0px;
}

.section-title:before{
    content: "";
    height: 2px;
    background: #c9302c;
    width: 200px;
    position: absolute;
    bottom: -1px;
}
.all-news{
    position: relative;
    padding: 0px;
    margin: 0px;
}
.all-news li{
    /*padding: 0px;*/
}
.all-news .news-item{
    padding: 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    height: 64px;
    position: relative;
    /*float: left;*/
}

.all-news .news-item li img{
    height: 60px;
    width: 60px;
}
.all-news .news-item li{
    float: left;

}
.all-news .news-item p{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.all-news .news-item .news-heading{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;

}
.all-news .news-item .news-item-left{
    padding-right: 15px;
}

.opinion-right ul{
    padding-left: 0px;
    position: relative;
}
.opinion-right ul li{
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
}
/*.opinion-right ul li a{*/
/*position: absolute;*/
/*top: 0;*/
/*}*/

/*.opinion-right ul li p{*/
/*position: absolute;*/
/*bottom: 0;*/
/*}*/

.feature-video{
    background: #3c3c3c;
    padding: 10px 0px;
}
.feature-video .section-title{
    color:#fff;
}
#photo-album{
    margin-bottom: 50px;
}
.customNextBtn i, .customPrevBtn i{
    color:#8c7f7f;
    font-size: 12px;
    padding: 4px;
    border: 1px solid #8c7f7f;
    border-radius: 2px;
}
.customNextBtn{
    padding-left: 4px  ;
}

/*candidate*/
.candidate-banner{
    position: relative;
}
.candidate-banner img{
    width: 100%;
}
.candidate-banner h1{
    color: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -25px;
    font-size: 50px;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

.vote-info{
    margin: 0px;
    overflow: hidden;
    padding: 15px 0px;
    column-count: 3;
}
/*.vote-info li:first-child{*/
    /*padding-left: 0px;*/
/*}*/
.vote-info li{
    min-height: 1px;
    overflow: hidden;
    padding:0px 20px;
    /*border-right: 1px solid #eee;*/
}
.vote-info li:last-child{
    border: none;
}
.vote-info li .vote-info-icon{
    padding-right: 10px;
}
.vote-seat-info p {
    display: block;
    margin: 0px;
    padding: 4px 0px;

}
.vote-area img{
    width: 100%;
    height: 100%;
}
.vote-seat-info h3 {
    margin: 0;
}
.vote-info-icon img {
    width: 50px;
    height: 50px;
}
.seat-desc{
    text-align: justify;
    line-height: 25px;
}

.card-wrapper{
    padding: 15px 30px;
}
.candidate-card{
    border: 1px solid #dcdcdc;
    overflow: hidden;
    min-height: 1px;
    margin: 15px 0px;
    background: #a7adb3;
}
.lib-desc p{
    padding: 15px ;
}
.lib-desc{
    position: relative;
}
.lib-desc h5{
    font-weight: bold;
}
.bottomright {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 14px;
    background: #2b2929;
    color: #e8e8e8;
    padding: 3px;
    font-weight: bold;
}
.profile{
    text-align: center;
    background: white;
}
.profile img{
    width: 100px;
    height: 100px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #FFFFFF;
    cursor: default;
    background-color: #FF7B7B;
    border: 1px solid #FF7B7B;
    border-bottom-color: #FF7B7B;
}
.nav-tabs {
    border-bottom: 1px solid #ff7b7b;
}
.nav-tabs>li>a:hover{

}
.nav-tabs>li>a{
    border-radius: 0px;
    color: #FFFFFF;
    margin-right: 0px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #ff7b7b;
}
.nav-tabs>li{
    background: #575757;
}
/*Gallery*/
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #FF5757;
}
.thumbnail a:focus, a:hover{
    color: #FF5757;
}
.thumbnail p{
    color: #000;
    padding: 5px;
}

/*Gallery-Details*/
.carousel-inner img{
    width: 100%;
}
.footer-bs{
    margin-top: 15px;
}

/* rejvi */
.padding-0{
    padding: 0!important;
}
.margin-0{
    margin: 0!important;
}
.padding-top-10{
    padding-top: 10px!important;
}
.padding-top-button-10{
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.padding-left-5{
    padding-left: 5px!important;
}
.padding-right-5{
    padding-right: 5px!important;
}
.navbar-default .navbar-nav>li>a {
    color: #58595b!important;
}
.navbar-default {
    background: #bcbec0!important;
     border-top: none;
     border-bottom: none!important;
}
.column-count-6{
    column-count:6;
}
.top-add-banner{
    border: 1px solid #939598!important;
    margin-top: 1px;
}

@font-face {
    font-family: 'SolaimanLipi';
    src: url('../fonts/solaimanlipi/SolaimanLipiNormal.eot');
    src: local('SolaimanLipi'), local('SolaimanLipi'),
    url('../fonts/solaimanlipi/SolaimanLipiNormal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/solaimanlipi/SolaimanLipiNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    line-height: 1.4;
    font-family: SolaimanLipi !important;
    font-size: 14px;
}
p{
    line-height: 150% !important;
    font-family: SolaimanLipi !important;
}
.sub-title{
    line-height: 150% !important;
    font: bold 18px SolaimanLipi;
}
.byline{
    padding-left: 10px;
    font-size: 12px;
    border-left: 4px solid #EBEBEC;
    color: #666!important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #333;

}
.navbar-default .navbar-nav>li{
    border-bottom: 2px solid #bcbec0;
    transition: 0.7s;
}
.navbar-default .navbar-nav>li:hover {
    border-bottom: 2px solid #c9302c;
    background-color: gainsboro;

}
.menu-active{
      background-color: gainsboro!important;
      border-bottom: 2px solid #c9302c!important;
}
.news-title-home{
    font-size: 16px!important;
    display: block!important;
    margin-bottom:10px;
    font-weight:900;
}
.hover-off{
    background-color: transparent!important;
    border-bottom: 0!important;
}
.navbar-collapse{
    padding-left: 0!important;
}
.padding-bottom-10px{
    padding-bottom: 10px!important;
}
.videoCarousel iframe{
    width:100% !important;
    height: 170px !important;
}
.videoIframe iframe{
    width:100% !important;
    height: 170px !important;
}
.carousel-caption{
    background:rgba(0,0,0,0.5); width: 100%;right:0%;left: 0%;bottom: 0;padding: 5px 10px;
}
.footer-copyright{
    background-color: rgba(0,0,0,.2);
    padding: 15px;
}
.footer-copyright a{
    color: rgba(255,255,255,0.80)!important;

}
.footer-copyright a:hover{
    color: red!important;
}
.vote-area{
    height: 280px;
    overflow: hidden;
}
.img-400px{
    height: 400px!important;
}
/* rejvi */

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
@media screen and (max-width:768px){
    .xs-center{text-align: center !important;}
    .social-link > ul {float: none !important;}
    .input-append{
        width:70% ;
    }
    .candidate-card{
        padding-right: 15px;
        padding-left: 15px;
    }
    .divition-menu .navbar-nav li{
        float: none !important;

    }
    .divition-menu navbar-nav{
        left: 15px;
    }

    .padding-left-5{
        padding-left: 0px!important;
    }
    .padding-right-5{
        padding-right: 0px!important;
    }
    .padding-0{
        padding: 0 15px 10px 15px!important;
    }
    .column-count-6{
        column-count:2!important;
    }
    .no-padding{
        padding: 0px!important;
    }
    .padding-bottom-0-sm{
        padding-bottom: 0px!important;
    }
    .padding-left-0-sm{
        padding-left: 0px!important;
    }
    .padding-right-0-sm{
        padding-right: 0px!important;
    }
    .navbar-collapse{
        padding-left: 15px!important;
    }
    .menu{
        width: 100%;
    }
    .vote-info{
        column-count: 1;
    }
    .tp10{
        padding: 5px 10px!important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000!important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #58595c!important;
    }
    .img-400px{
        height: 280px!important;
    }
}
@media screen and (max-width:990px){
    .xs-center{text-align: center !important;}
    .social-link > ul {float: none !important;}
    .input-append{
        width:70% ;
    }
    .candidate-card{
        padding-right: 15px;
        padding-left: 15px;
    }
    .divition-menu .navbar-nav li{
        float: none !important;

    }
    .divition-menu navbar-nav{
        left: 15px;
    }
    .profile{
        padding-bottom: 15px;
    }
    .column-count-6{
        column-count:2!important;
    }
    .img-400px{
        height: 400px!important;
    }

}
@media screen and (max-width:480px){
    #banner{
        content:url("../images/election_320X100.png");
    }
    .img-400px{
        height: 200px!important;
    }
}
.box{

    border: 4px double #3c7b498f !important;
    height: 88px;
    transition: ease-in-out 0.2s;
    -webkit-box-shadow: 2px 2px 5px #909090;
    -moz-box-shadow: 2px 2px 5px #909090;
    box-shadow: 2px 2px 5px #909090;
    width: 100%;
    margin-right:0px;
    margin-left: 0px;
}
.box:hover{

    border: 4px double #3b4b94a1 !important;
    transition: ease-in-out 0.2s;
    cursor: pointer;

}

@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
iframe.map-frame {
    border: 0 solid #909090;
    width: 100%;
    min-height: 700px;
    height: 100% !important;
    margin-left: -0.5px;
    margin-bottom: -5px;
}
@media screen and (max-width: 768px){
    iframe.map-frame {
        border: 0 solid #909090;
        width: 100%;
        min-height: 420px;
        height: 100% !important;
        margin-left: -0.5px;
        margin-bottom: -5px;
    }
}