/*=================================
header section
=================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
    font-family: 'Open Sans', 'sans-serif';
}

/*========= RK Fixing =============*/

ul.news-item-rk{margin:0 0 0 0;border-top:1px solid #d0d0d0;padding:10px 0;min-height:100px;}
ul.itm-1{border:0;}
ul.itm-2{border:0;}
.imgBigAdd-rk {width:auto !important;max-width:100% !important;}
.btn1{border:none;border-radius:5px; background: #ffffff;color: #58595b;}
.btn1:hover,.btn1:focus{border:none;background:#3c3d41;color:#ffffff;outline:none!important;}
/*.dropdown-menu>li>a{color:#e0e0e0;}*/
.dropdown-menu>li>a:hover{color:#000;text-decoration: underline;background:none !important;}
.opinion-left{margin-bottom:10px;}

.navbar-default {
    background: #f0f0f0;
    border-bottom:1px solid #e0e0e0;
}

/*Map active inactive*/
/*
.map-overlay{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(0,0,0,0.1);}
.explorebtn{position:absolute;top:30%;left:50%;z-index:111;cursor:pointer;background:black;display:inline-block;padding:10px;color:#ffffff;border-radius:20px;transform: translateX(-50%)}
.map-close{position:absolute;top:5px;left:50%;z-index:111;cursor:pointer;background:black;display:none;padding:10px;color:#ffffff; border-radius:20px;transform: translateX(-50%)}
*/


/*========= RK Fixing END =========*/

ul{
    list-style: none;
}

.no-padding-right{
    padding-right: 0px !important;
}
.no-padding-left{
    padding-left: 0px !important;
}
.m-top-15{
    margin-top: 15px;
}
h1,
.h1 {
    /*font-size: 36px;*/
    text-align: center;
    font-size: 5em;
    color: #404041;
}
.news-time{
    font-size: 10px;
    margin: 0;
    line-height: 22px;
}
.menu-bar{
    z-index:999;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.divition-seat{
    display: none;
}

.dropdownMenu{

}


.mega-dropdown {
    position: static !important;
    /*width: 100%;*/
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius:0 !important;
    border:none;
    margin-top:-1px !important;
    background: #e7e7e7;
}

/*.mega-dropdown-menu:before {*/
/*content: "";*/
/*border-bottom: 15px solid #fff;*/
/*border-right: 17px solid transparent;*/
/*border-left: 17px solid transparent;*/
/*position: absolute;*/
/*top: -15px;*/
/*left: 285px;*/
/*z-index: 10;*/
/*}*/

/*.mega-dropdown-menu:after {*/
/*content: "";*/
/*border-bottom: 17px solid #ccc;*/
/*border-right: 19px solid transparent;*/
/*border-left: 19px solid transparent;*/
/*position: absolute;*/
/*top: -17px;*/
/*left: 283px;*/
/*z-index: 8;*/
/*}*/

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
.top-bar{
    padding: 6px 0 0 0;
    background:#333;
    height: auto;
}

.top-bar ul {padding:0;margin:0;}
.top-bar-left li{
    color: #f2f2f2;
}
.top-bar  ul li{
    display: inline-block;
    padding: 0px 10px;
    line-height: 28px;
}
.top-bar ul li a{
    color: #eee;
}

.top-logo-banner img{
    width: 100%;
}
.top-add-banner{
    text-align: center;
}
.top-add-banner-text{
    display: inline-block;
    width: 720px;
    height: 90px;
    margin: auto;
    padding: 15px 0;
}
.news-add-banner{
    background: #f8f8f8;
    text-align: center;
}
.news-add-banner-text{
    display: inline-block;
    background: #adadad;
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.add-wrapper img{
    width: 100%;
}

.right-add-banner{
    /*    background: #e0e0e0;
        padding:30px 0;
        height: auto;*/
    margin-top: 20px;


}
.right-add-banner img{
    height: auto;
    width: 100%;
}
.right-add-banner-inner{
    width:300px;
    height:250px;
    background: #f2f2f2;
    margin: auto;
    padding: 125px 0;
    text-align: center;
}
.hashcode{
    background: #F6C0C0;
    margin-top: 20px;
    height: auto;
    padding:30px 0;

}
.hashcode-inner{
    width:300px;
    height:250px;
    background: #F6C0C0;
    margin: auto;
    padding: 125px 0;
    text-align: center;
}
.janala{
    background: #F6C0C0;
    margin-top: 20px;
    height: auto;
    padding:30px 0;

}
.janala-inner{
    width:300px;
    height:250px;
    background: #F6C0C0;
    margin: auto;
    padding: 125px 0;
    text-align: center;
}
/*social link */
.social-link {
    list-style: none;
}
.social-link li{

}
.social-link li a{
    color:#fff;
}
.form-search .search-query{
    border: 1px solid #dcdcdc;
    box-shadow: none;
}


.input-append{
    width:75% ;
    margin-right: 10px;
    float: right;
}

.form-search .input-append{
    position: relative;
}
.form-search .btn-search{
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
}


.navbar{
    margin-top: 15px;
}
.main-menu .menu-active a{
    border-top: 2px solid #c9302c;
}
.main-menu li {
    padding-right: 28px;
}
.main-menu li a{
    padding: 16px 0px;
}
.search-wrapper{
    padding: 10px 0px;
}
.divition-menu{
    position: relative;

}
.divition-menu .navbar-nav {
    width: 100%;
    position: absolute;
    z-index: 9999;
    background:#d0d0d0;
}
.divition-menu .navbar-nav li{
    float: left;
}
.section-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 13px;
    position: relative;
}
.section-title h3{
    padding: 4px 0px;
}

.section-title:before{
    content: "";
    height: 2px;
    background: #c9302c;
    width: 200px;
    position: absolute;
    bottom: -1px;
}
.all-news{
    /*position: relative;*/
    padding: 0;
    margin: 0;
}
.all-news li{
    /*padding: 0px;*/
}
ul.news-item{
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    height: 100px;
    max-height: 200px;
    /*position: relative;*/
    /*float: left;*/
}

.all-news .news-item li img{
    height: 60px;
    width: 60px;
}
.all-news .news-item li{
    float: left;

}
.all-news .news-item p{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
}
.all-news .news-item .news-heading{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;

}
.all-news .news-item .news-item-left{
    padding-right: 15px;
}

.opinion-right ul{
    padding-left: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    height:auto;
    position: relative;
}
.opinion-right ul li{
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
}
/*.opinion-right ul li a{*/
/*position: absolute;*/
/*top: 0;*/
/*}*/

/*.opinion-right ul li p{*/
/*position: absolute;*/
/*bottom: 0;*/
/*}*/

.feature-video{
    background: #3c3c3c;
    padding: 10px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.feature-video .section-title{
    color:#fff;
}
#photo-album{
    margin-bottom: 50px;
}



/*Footer*/
.footer-bs {
    background-color: #3c3d41;
    color: rgba(255,255,255,1.00);
    padding: 10px 0px 0px 0px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:5px 10px; }
.footer-nav{min-height:220px !important; padding:5px 20px !important;}
@media screen and (max-width: 768px){
    .footer-nav{min-height:auto!important; }
    ul.list h2 {padding:0;margin:0;}
    .footer-brand{padding:5px 15px !important;}
}
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }
@media (min-width: 768px) {
    .top-add-banner{
        /*display: none;*/
    }
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
@media screen and (max-width:768px){
    .xs-center{text-align: center !important;}
    .social-link > ul {float: none !important;}
    .input-append{
        width:70% ;
    }
}
/*@media screen and (max-width: 992px) {*/
/*.column {*/
/*width: 50%;*/
/*}*/
/*}*/
/*@media screen and (min-width: 800px) {*/
/*body {*/
/*background-color: lavender;*/
/*}*/
/*}*/


/*@media screen and (max-width: 600px) {*/
/*.column {*/
/*width: 100%;*/
/*}*/
/*}*/
/*@media screen and (min-width: 400px) {*/
/*body {*/
/*background-color: lightgreen;*/
/*}*/
/*}*/
.first-list{column-count: 3;}
@media screen and (max-width: 768px){

    .first-list{column-count:inherit}

}